input {
    border: 1px solid violet;
    height: 20px;
}
#d {
   position: absolute;
   left: 30%;
   top: 107px;
}
#b {
   position: absolute;
   left: 30%;
   top: 140px;
}
#o {
   position: absolute;
   left: 30%;
   top: 173px;
}
#h {
   position: absolute;
   left: 30%;
   top: 208px;
}
#button {
    position: absolute;
    left: 50%;
    top: 150px;
    border: 2px solid violet;
    height: 30px;
    text-align: center;
}
p {
    left: 43%;
    top: 95px;
    position: relative;
}
